/* AJ blue - #2A166E */
/* AJ yellow - #FDF414 #C0AE17 1118-1354-7146-5382-1025-7756*/

html {
	height: 100%;
}

body {
	margin: 0 0 0 0;
	background-color: #313131;
}

#container {
	position: absolute;
}

#contacts_container {
	width: 87%;
	margin-left: 5%;
}

.contact_container {
	position: relative;
	margin-top: 2em;
	margin-left: 2%;
	
	display: inline-block;
	min-height: 3em;
    width: 100%;
}

.contact_container  div p {
	position: relative;
	margin-top: 0;
	margin-left: 1em;
	
	display: inline-block;
	
	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	color: #D7D7D7;
	line-height: 29px;
	letter-spacing: 1px;
	
}

.service_container {
	position: relative;
	margin: 2em auto;
	
	min-height: 3em;
	width: 100%;
	overflow: hidden;
	
	text-align: center;
}

.service-text {
	position: relative;
	margin-top: 0px;
	margin-left: 0em;

	display:inline-block;
	width: calc(100% - 5em);

	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #D7D7D7;
	text-align: justify;
	line-height: 1.8em;
	letter-spacing: 0.063em;

	vertical-align: middle;
}

.icons {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1em;
	
	display: block;
	width: 6em;
	height: 6em;
	
	text-align: center;
}

.text {
	display: inline-block;
    width: calc(87% - 7em);
}

.text p a,
.text p a:visited {
	color: #C0AE17;
}

.text p a:hover {
	color: #CEBD26;
}

#contacts_bg {
	position: relative;
	margin: 0 0 0 0;
	
	min-height: 3em;
	width: 100%;
	
	background-color: #181818;
	padding-bottom: 3em;
}

#intro-container {
	position: relative;
	margin-top: 4vh;
	margin-left: auto;
	margin-right: auto;
	
	width: 90%;
	overflow: hidden;
	
	font-family: "Book Antiqua";
	text-align: center;
}

#headline-container {
	position:relative;
	margin: 0 0 3em 0;
	width: 100%;
	
	text-align: center;
}

hr {
	margin: 20px 0px -20px 0px;
	width: 100%;
	
	border-color: rgba(255, 255, 255, 0.5);
	padding-top: 0px;
	padding-bottom: 0px;
}

.hrpro {
	margin: 0 auto 0.6em auto;
	width: 90%;
	border-color: rgba(255, 255, 255, 0.5);
}

#intro {
	position: relative;
	
	display: block;
	float: left;

	font-size: 1em;
	color: rgba(255, 255, 255, 0.5);
    text-align: justify;
	line-height: 170%;
	
	padding: 0px 0.5em 2em 0.5em;
}

.headline {
	position: relative;
	margin-top: 0;
	
	font-size: 35px;
	color: white;
	text-align: center;
	
	padding-top: 1.5em;
	padding-bottom: 0;
}

#logo {
	margin-top: 0.3125em;
	margin-left: 1em;
	
	width: 3.125em;
	height: 3.125em;
}

.description {
    margin: auto auto 1.8em auto;

    width: 80%;

    font-size: 1em;
    color: rgba(255, 255, 255, 0.5);
    text-align: justify;
    line-height: 170%;
}

#gallery {
	margin: 0 auto 0 auto;
	
	width: 84%;
}

#gallery-zoom {
	position: fixed;
	z-index: 4;
	top: 0;
	
	width: 100%;
	height: 100vh;

	text-align: center;
	visibility: hidden;
	vertical-align: middle;
}

#page-fade {
	position: fixed;
	z-index: 3;
	
	width: 100%;
	height: 100vh;
	
	visibility: hidden;
	background-color: black;
	opacity: 0.65;
}

#gallery-align {
	display: inline-block;
	height: 100%;
	
	background-color: red;
	vertical-align: middle;
}

#gallery-pic {
	position: relative;
	z-index: 4;
	
	display: inline-block;
	width: 100%;
	height: auto;

	text-align: center;

	vertical-align: middle;
}

#close-butt {
	position: absolute;
	top: 0em;
	right: 0em;
	z-index: 5;

	width: 2em;
	height: auto;

	background-color: rgba(0, 0, 0, 0.8);
	background-color: black;
	padding: 1em;
	opacity: 0.65;
	cursor: pointer;
}

#close-butt:hover {
	opacity: 1;
}

#close-butt:active {
	opacity: 0.65;
}

#chevron-left {
	visibility: hidden;
	position: absolute;
	left: 0;
	bottom: 15vh;
	z-index: 5;

	width: 1.5em;
	height: auto;

	background-color: rgba(0, 0, 0, 0.8);
	border-top: 0.15em solid #2d2d2d;
	border-right: 0.15em solid #2d2d2d;
	border-bottom: 0.15em solid #2d2d2d;
	padding: 1.8em;
	opacity: 0.85;
	cursor: pointer;
}

#chevron-left:hover {
	opacity: 1;
}

#chevron-left:active {
	background-color: #0a0a0a;
}

#chevron-right {
	visibility: hidden;
	position: absolute;

	right: 0;
	bottom: 15vh;
	z-index: 5;

	width: 1.5em;
	height: auto;

	background-color: rgba(0, 0, 0, 0.8);
	padding: 1.8em;
	opacity: 0.85;
	cursor: pointer;
}

#chevron-right:hover {
	opacity: 1;
}

#chevron-right:active {
	background-color: #0a0a0a;
}

#mainpic {
	position: absolute;
	z-index: -1;
	
	width: 100%;
	height: 100%;
	
	background-image: url('images/front2.jpg');
	background-position: center center;
	background-size: cover;	
	opacity: 0.1;
    filter: alpha(opacity=10); /* For IE8 and earlier */
}

.main {
	position: relative;
	margin-top: 3.75em;
	margin-left: 0;
	z-index: 1;
	
	min-height: 6em;
	width: 100%;
	overflow: auto;
	
	background-color: #2A166E;
}

.main_services{
	position: relative;
	margin-top: 0;
	margin-left: 0;
	z-index: 1;
	
	min-height: 6em;
	width: 100%;
	overflow: auto;
	
	text-align: center;
	
	background-color: #181818;
}

#projpic {
	position: absolute;
	z-index: -1;

	width: 100%;
	height: 100%;

	background-image: url('images/project13.jpg');
	background-position: center center;
	background-size: cover;
	opacity: 0.1;
	filter: alpha(opacity=10); /* For IE8 and earlier */
}

.main_projects {
	position: relative;
	margin-top: 0;
	margin-left: 0;
	z-index: 1;
	
	min-height: 6em;
	width: 100%;
	overflow: auto;
	
	background-color: #2A166E;
}

.main_contacts {
	position: relative;
	margin: 0 0 0 0;
	z-index: 1;
	
	min-height: 300px;
	width: 100%;
	
	background-color: #313131;
}

#header {
	position: fixed;
	top: 0;
	margin-left: 0;
	z-index: 2;

	width: 100%;
	height: 3.75em;
    transition: top 0.2s ease-in-out;
	
	background-color: white;
	border-top: 1px solid #EEEEEE;	
	border-bottom: 1px solid #E2E2E2;
}

#menu {
	position: relative;
	float: right;
}

#menu-logo {
	margin: 0 0 0 0;
	float: right;
	height: 2em;
	padding: 0.9em 0.7em 0.9em 0.7em;
}

#menu-logo:hover {
	opacity: 0.6;
	cursor: pointer;
}

#lang-dropdown {
	display: none;
}

#popup-menu {
	position: fixed;
	margin-top: 60px;
	right: 0;
	z-index: 3;
	
	width: 100%;
	height: auto;

	visibility: hidden;
}

#footer {
	width: 100%;
	height: 8em;
	background-color: #212121;
	z-index: 1;
	position: relative;
	border-radius: 0 0 5px 5px;
	text-align: center;
	color: gray;
	font-family: Arial;
	font-size: 0.8em;
	float: left;
}

#footer p{
	margin-top: 3.6em;
}

.menu-link {
	display: none;
}

.popup-menu-link {
	display: inline-block;
	float: right;
	width: 100%;

	font-family: Roboto, Gill Sans MT, Helvetica;
	font-size: 1em;
	color: #473c6e;
	text-align: right;
	text-decoration: none;
	
	background-color: #f0f0f0;
	padding: 0.8em 0.8em 0.8em 0;
	border-top: 0.1em solid #dcdcdc;
	cursor: pointer;
}

.popup-menu-link:hover {
	color: #332c59;
	background-color: #ebebeb;
}

.popup-menu-link:active {
	color: #332c59;
	background-color: #ebebeb;
}

#button {
	position: relative;
	margin: 0 0 10vh 0;
	
	display: inline-block;
	
	font-family: Arial;
	font-size: 0.8em;
	color: #2A166E;
	text-align: center;
	
	background-color: #C0AE17;
	padding: 0.8em 1em 0.8em 1em;
	border-radius: 0.4em;
	cursor: pointer;
}

#button:hover {
	background-color: #CEBD26;
}

#button:active {
	color: #C0AE17;
	background-color: #181818;
}

.lang-item {
	display: none;
}
