/* AJ blue - #2A166E */
/* AJ yellow - #FDF414 1118-1354-7146-5382-1025-7756*/

html {
	height: 100%;
}

body {
	margin: 0 0 0 0;
	background-color: #313131;;
}

#container {
	position: absolute;
}

#contacts_container {
	margin-left: 5%;
	width: 87%;
}

.contact_container {
	position: relative;
	margin-top: 50px; 
	margin-left: 5%;
	
	display: inline-block;
	min-height: 3em;
}

.contact_container  div p {
	position: relative;
	margin-top: 0;
	margin-left: 1em;
	
	display: inline-block;
	
	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	color: #D7D7D7;
	line-height: 29px;
	letter-spacing: 1px;
	
}

.service_container {
	position: relative;
	margin: 3.125em auto;
	
	min-height: 3em;
	width: 80%;
}

.icons {
	position: relative;
	display: inline-block;
	width: 6em;
	height: 6em;

	vertical-align: top;
}

.service-text {
	position: relative;
	margin-top: 0px;
	margin-left: 1em;

	display:inline-block;
	width: calc(100% - 9em);

	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #D7D7D7;
	text-align: left;
	line-height: 1.8em;
	letter-spacing: 0.063em;

	vertical-align: middle;
}

.text {
	display: inline-block;
}

.text p a,
.text p a:visited {
	color: #C0AE17;
}

.text p a:hover {
	color: #CEBD26;
}

#contacts_bg {
	position: relative;
	margin: 0 0 0 0;
	
	min-height: 3em;
	width: 100%;
	
	background-color: #181818;
	padding-bottom: 3em;
}

#intro-container {
	position: relative;
	margin-top: 20vh;
	margin-left: auto;
	margin-right: auto;
	
	width: 80%;
	overflow: hidden;
	
	font-family: "Book Antiqua";
	text-align: center;
}

#headline-container {
	position:relative;
	margin: 0 0 3em 0;
	width: 100%;
	
	text-align: center;
}

hr {
	margin: 20px 0px -20px 0px;
	width: 100%;
	
	border-color: rgba(255, 255, 255, 0.5);
	padding-top: 0px;
	padding-bottom: 0px;
}

.hrpro {
	margin: 0 25% 0.6em 8%;
	width: 84%;
	border-color: rgba(255, 255, 255, 0.5);
}

#intro {
	position: relative;
	
	display: block;
	float: left;

	font-size: 1em;
	color: rgba(255, 255, 255, 0.5);
	line-height: 170%;
	
	padding: 0px 20px 2em 20px;
}

.headline {
	position: relative;
	margin-top: 0;
	
	font-size: 35px;
	color: white;
	text-align: center;
	
	padding-top: 1.5em;
	padding-bottom: 0;
}

#logo {
	margin-top: 0.3125em;
	margin-left: 1em;
	
	width: 3.125em;
	height: 3.125em;
}

.description {
	margin: auto auto 1.8em auto;

	width: 80%;

	font-size: 1em;
	color: rgba(255, 255, 255, 0.5);
	line-height: 170%;
}

#gallery {
    margin: 0 auto 0 auto;

    width: 84%;
}

#gallery-zoom {
	position: fixed;
	z-index: 4;
	top: 0;
	
	width: 100%;
	height: 100vh;

	text-align: center;
	visibility: hidden;
	vertical-align: middle;
}

#page-fade {
	position: fixed;
	z-index: 3;
	
	width: 100%;
	height: 100vh;
	
	visibility: hidden;
	background-color: black;
	opacity: 0.65;
}

#gallery-align {
	display: inline-block;
	height: 100%;
	
	background-color: red;
	vertical-align: middle;
}

#gallery-pic {
	position: relative;
	margin: auto;
	z-index: 4;

	display: inline-block;
	max-width: calc(80% - 2em);
	max-height: 80vh;
	width: auto;
	height: auto;

	text-align: center;

	border: 0.3em solid white;
	vertical-align: middle;
}

#close-butt {
	position: absolute;
	top: 0em;
	right: 0em;
	z-index: 5;

	width: 2em;
	height: auto;

	background-color: rgba(0, 0, 0, 0.8);
	background-color: black;
	padding: 1em;
	opacity: 0.85;
	cursor: pointer;
}

#close-butt:hover {
	opacity: 1;
}

#close-butt:active {
	opacity: 0.85;
}

#close-butt:active {
	background-color: #0a0a0a;
}

#chevron-left {
	visibility: hidden;
	position: absolute;
	left: 0em;
	top: calc(50% - 3.75em);
	z-index: 5;

	width: 1.5em;
	height: auto;

	background-color: rgba(0, 0, 0, 0.8);
	padding: 1.5em;
	opacity: 0.85;
	cursor: pointer;
}

#chevron-left:hover {
	opacity: 1;
}

#chevron-left:active {
	background-color: #0a0a0a;
}

#chevron-right {
	visibility: hidden;
	position: absolute;

	top: calc(50% - 3.75em);
	right: 0em;
	z-index: 5;

	width: 1.5em;
	height: auto;

	background-color: rgba(0, 0, 0, 0.8);
	padding: 1.5em;
	opacity: 0.85;
	cursor: pointer;
}

#chevron-right:hover {
	opacity: 1;
}

#chevron-right:active {
	background-color: #0a0a0a;
}

#mainpic {
	position: absolute;
	z-index: -1;
	
	width: 100%;
	height: 100%;
	
	background-image: url('images/front2.jpg');
	background-position: center center;
	background-size: cover;	
	opacity: 0.1;
    filter: alpha(opacity=10); /* For IE8 and earlier */
}

.main {
	position: relative;
	margin-top: 60px;
	margin-left: 0;
	z-index: 1;
	
	min-height: 6em;
	width: 100%;
	overflow: auto;
	
	background-color: #2A166E;
}

.main_services{
	position: relative;
	margin-top: 0;
	margin-left: 0;
	z-index: 1;
	
	min-height: 6em;
	width: 100%;
	overflow: auto;
	
	background-color: #181818;
}

.main_projects {
	position: relative;
	margin-top: 0;
	margin-left: 0;
	z-index: 1;
	
	min-height: 6em;
	width: 100%;
	overflow: auto;

	color: white;

	background-color: #2A166E;
}

.main_contacts {
	position: relative;
	margin: 0 0 0 0;
	z-index: 1;
	
	min-height: 300px;
	width: 100%;
	
	background-color: #313131;
}

#header {
	position: fixed;
	top: 0;
	margin-left: 0;
	z-index: 2;
	
	width: 100%;
	height: 60px;
	
	background-color: white;
	border-top: 1px solid #EEEEEE;	
	border-bottom: 1px solid #E2E2E2;
}

#menu {
	margin-right: 0.5em;
	
	float: right;
	width: auto;
	height: 100%;
}

.menu-link {
	float: right;
	height: 100%;
	
	font-family: Gill Sans MT, Helvetica;
	font-size: 1.1em;
	color: #BBBBBB;
	text-decoration: none;
	line-height: 3.2em;
	
	padding: 0 1em 0 1em;
	cursor: pointer;
}

.menu-link:hover {
    color: #13145E;
}

.menu-link:active {
    color: #13145E;
}

#lang-dropdown {
	margin-top: 0.7em;
	margin-left: 0.6em;

	float: right;
	height: calc(100% - 1.6em);

	font-family: Roboto, Gill Sans MT, Helvetica;
	font-size: 1em;
	color: #979797;

	padding-left: 0.5em;
	padding-right: 0.5em;
	background-color: #f4f4f4;
	border: solid 1px #e9e9e9;
	border-radius: 0.2em;
}

#lang-dropdown:hover {
	background-color: #f1f1f1;
	cursor: pointer;
}

#selected-lang-code {
	margin-top: calc(50% - 0.8em);

	display: inline-block;
}

#arrow-down {
	margin-top: 0.5em;
	margin-left: 0.2em;

	display: inline-block;

	vertical-align: text-top;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #747474;
}

#select-items {
	position: fixed;
	top: 4em;
	right: 0.5em;

	display: none;
	z-index: 100;
}

#arrow-up {
	position: relative;
	margin-right: 0.6em;

	display: block;
	float: right;
	width: 0;
	height: 0;

	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	border-bottom: 0.4em solid #f4f4f4;
}

#lang-items-container {
	margin-top: 0.3em;

	display: block;

	padding: 0.2em 0.4em 0.2em 0.4em;
	background-color: #f4f4f4;
	border-radius: 0.2em;
}

.lang-item {
	font-family: Roboto, Gill Sans MT, Helvetica;
	font-size: 0.9em;
	color: #979797;
	text-decoration: none;

	padding: 0.6em 0.4em 0.6em 0.4em;
	background-color: #f4f4f4;
	cursor: pointer;
}

.lang-item:hover {
	color: #6e6d97;
}

.non-last {
	border-bottom: solid 1px #dcdcdc;
}

#popup-menu {
	display: none;
}

#footer {
	position: relative;
	z-index: 1;
	
	float: left;
	width: 100%;
	height: 8em;
	
	font-family: Arial;
	font-size: 0.8em;
	color: gray;
	text-align: center;
	
	background-color: #212121;
}

#footer p{
	margin-top: 3.6em;
}

#button {
	position: relative;
	margin: 0 0 10vh 0;
	
	display: inline-block;
	
	font-family: Arial;
	font-size: 0.8em;
	color: #2A166E;
	text-align: center;
	
	background-color: #C0AE17;
	padding: 0.8em 1em 0.8em 1em;
	border-radius: 0.4em;
	cursor: pointer;
}

#button:hover {
	background-color: #CEBD26;
}

#button:active {
	color: #C0AE17;
	background-color: #181818;
}

#burger-menu {
	display: none;
}
