.thumbnail {
	margin-right: 0.125em;
	margin-left: 0.125em;

	display: inline-block;
	width: 8em;
	height: 8em;

	background-position: center center;
	background-size: cover;
	opacity: 0.7;
	cursor: pointer;
	
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.thumbnail:hover {
	opacity: 1;
}